.widget{
    background: $light-blue;
    margin-bottom: $large-size;
}
//creatr a widget element selector (message) use on p tag
//offwhite color, no margin, large-size padding
//center the text using - text-aling: center
//set border-bottom to a 1px solid border light version lightblue than 10%
.widget__message{
    color: $off-white;
    margin: 0;
    text-align: center;
    padding: $medium-size;
    border-bottom: .1rem solid lighten($light-blue, 10%);
}
.widget-header {
    background:  $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $medium-size;
}
.widget-header__title{
    margin: 0;
}
